**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
unwanted/.vs
unwanted/.vscode
cmake-build-debug
distrib
external
misc-*
misc*
out
src/.vscode
res/textures
.hgignore
BUILDING.txt
CMakeLists.txt
CMakeSettings.json
Makefile
.idea
src/tests/experimentalTests.cpp
/src/tests/
!/src/render-projects/older/actOnPoint.cpp

!/src/render-projects/older/bezier.cpp

!/config/config.txt

!/src/render-projects/older/coons.cpp

!/src/render-projects/older/curvatureFlow.cpp

!/src/render-projects/older/curvatures.cpp

!/src/render-projects/older/curvesDemo.cpp

!/src/render-projects/older/differentHyperbolic.cpp

!/src/render-projects/older/flowArt.cpp

!/src/render-projects/older/flowArt2.cpp

!/src/render-projects/older/flows.cpp

!/src/render-projects/older/geoDisplace.cpp

!/src/render-projects/older/geoDisplaceVert.cpp

!/src/render-projects/guitar.cpp

!/src/render-projects/harmonicCompletion.cpp

!/src/render-projects/older/heatFlow.cpp

!/src/render-projects/older/hyperbolicAut.cpp

!/src/render-projects/older/hyperbolicTesselation.cpp

!/src/render-projects/older/implicitGallery.cpp

!/src/render-projects/older/indCurves.cpp

!/src/render-projects/older/marchingCubes.cpp

!/src/render-projects/older/oscilatingCircle.cpp

!/src/render-projects/older/pdeSolving.cpp

!/src/render-projects/older/polygons.cpp

!/src/render-projects/older/revolution.cpp

!/src/render-projects/older/rolling.cpp

!/src/render-projects/stringCyg.cpp

!/src/render-projects/older/vaoTest.cpp

!/src/render-projects/older/VFarrows.cpp
!/external/
