**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
unwanted/.vs
unwanted/.vscode
cmake-build-debug
distrib
external
misc-*
misc*
out
src/.vscode
src/textures
.hgignore
BUILDING.txt
CMakeLists.txt
CMakeSettings.json
Makefile
.idea
src/.tests/experimentalTests.cpp
/src/.tests/
!/main_renders/actOnPoint.cpp

!/main_renders/bezier.cpp

!/src/config.txt

!/main_renders/coons.cpp

!/main_renders/curvatureFlow.cpp

!/main_renders/curvatures.cpp

!/main_renders/curvesDemo.cpp

!/main_renders/differentHyperbolic.cpp

!/main_renders/flowArt.cpp

!/main_renders/flowArt2.cpp

!/main_renders/flows.cpp

!/main_renders/geoDisplace.cpp

!/main_renders/geoDisplaceVert.cpp

!/src/guitar.cpp

!/src/harmonicCompletion.cpp

!/main_renders/heatFlow.cpp

!/main_renders/hyperbolicAut.cpp

!/main_renders/hyperbolicTesselation.cpp

!/main_renders/implicitGallery.cpp

!/main_renders/indCurves.cpp

!/main_renders/marchingCubes.cpp

!/main_renders/oscilatingCircle.cpp

!/main_renders/pdeSolving.cpp

!/main_renders/polygons.cpp

!/main_renders/revolution.cpp

!/main_renders/rolling.cpp

!/src/stringCyg.cpp

!/main_renders/vaoTest.cpp

!/main_renders/VFarrows.cpp
